<!--
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css">
<link rel="stylesheet" href="/css/leaflet-routing-machine.css" />
<!-- <link rel = "stylesheet" href="/css/card.css"> -->
</head>
<!-- <div class="dropdown">
	<button onclick="myFunction()" class="dropbtn">Selector</button>
	<div id="myDropdown" class="dropdown-content">
		<a href="/mapemer1">Sin antender</a>
		<a href="/mapemer2">En atención</a>
		<a href="/mapemer3">Atendidas</a>
	</div>
</div> -->
	<body>
	<!--map-->
	<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
	<div id="map" class="map map-home" style="mrgin:10px 10px 0px 10px;height:auto;"></div>
	<!--<div id="map" class="map map-home"></div>-->

	<script>
		var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
			osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
			osm = L.tileLayer(osmUrl, {maxZoom: 15, attribution: osmAttrib});
		var map = L.map('map').setView([4.538889, -75.6725], 13).addLayer(osm);

	  	L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	  		attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
	  	}).addTo(map);
	//---------iconos--------------
	var LeafIcon = L.Icon.extend({
		options: {
			iconSize:     [70, 95],
			shadowSize:   [50, 64],
			iconAnchor:   [22, 94],
			shadowAnchor: [4, 62],
			popupAnchor:  [-3, -76]
		}
	});

	  	var ambIcon = new LeafIcon({iconUrl: '../images/amb.svg'});
      var emerIcon = new LeafIcon({iconUrl:'../images/emer.svg'});

			{{#each amb}}
	  			L.marker([parseFloat({{amblat}}),parseFloat({{amblon}})], {icon: ambIcon}).addTo(map).bindPopup({{idamb}}).addTo(map);
				{{else}}
			{{/each}}
			{{#each emer}}
          L.marker([parseFloat({{latemer}}),parseFloat({{longemer}})], {icon: emerIcon}).addTo(map);
				{{else}}
			{{/each}}

			function myFunction() {
			  document.getElementById("myDropdown").classList.toggle("show");
			}

			// Close the dropdown if the user clicks outside of it
			window.onclick = function(event) {
			  if (!event.target.matches('.dropbtn')) {
			    var dropdowns = document.getElementsByClassName("dropdown-content");
			    var i;
			    for (i = 0; i < dropdowns.length; i++) {
			      var openDropdown = dropdowns[i];
			      if (openDropdown.classList.contains('show')) {
			        openDropdown.classList.remove('show');
			      }
			    }
			  }
			}
		</script>
	</body> -->
