<body>
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="/css/card.css">
  <div class="row">
  {{#each rep }}
      <div class="col-md-3" style="margin: 30px 30px 30px 30px">
        <div class="card bg-dark mb-3">
          <div class="card-body">
            <h2 class ="card-title d-flex justify-content-between align-items-center" align="center">
            Codigo {{idamb}}<!--<a href="/person/edit/{{idcc}}"><i class="glyphicon glyphicon-edit"></i></a>-->
          </h2>
            <h4 align="center">Placa: {{placa}}</h4>
            <h4 align="center">Marca y modelo: {{brand}}, {{model}}</h4>
            <h4 align="center">Tipo de ambulancia: {{ambtype}}</h4>
            <form action="/ambulance/delete/{{idamb}}?_method=DELETE" method="post">
              <!-- <input type="hidden" name="_method" value="DELETE">
                <button type="btn btn-danger btn-block btn-sm" name="button" type="submit">Delete</button> -->
            </form>
          </div>
        </div>
      </div>

    {{else}}
      <div class="card mx-auto text-center bg-dark " style="margin-top: 80px">
        <div class="card-body">
          <h1 class="card-title">No hay vehículos agregados</h1>
          <a href="/ambulance/add" class="btn btn-success"> Ingresar</a>
        </div>
      </div>
    {{/each}}
  </div>
</body>
