<link rel="stylesheet" href="/css/popup.css">
<link rel="stylesheet" href="/css/questions.css">
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Tabla de Emergencias</h1>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Emergencias {{rep.length}}</h6>
      <!-- <button id="btn-abrir-popup" class="btn btn-primary" style='margin: 10px 0 -15px 20px; width:100px; height:40px'>ingresar</button> -->
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>ID</th>
              <th>Estado</th>
              <th>Tipo</th>
              <th># Heridos</th>
              <th>Doc. Solicitante</th>
              <th>Reporte</th>
              <th>Ambulancias</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>ID</th>
              <th>Estado</th>
              <th>Tipo</th>
              <th># Heridos</th>
              <th>Doc. Solicitante</th>
              <th>Reporte</th>
              <th>Ambulancias</th>
            </tr>
          </tfoot>
          <tbody>
            {{#each rep }}
            <tr>
                <th>{{ idemer }}</th>
                <th>{{ estado }}</th>
                <td>{{ tipemer }}</td>
                <td>{{ n_heremer }}</td>
                <td>{{ id_user }}</td>
                <th>{{fecha}}:{{hora}}</th>
                <th>{{id_amb1}},{{id_amb2}},{{id_amb3}},{{id_amb4}},{{id_amb5}}</th>
              </tr>
              {{else}}
            {{/each}}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
